header {
  display: flex;
  height: 400px;
  width: 100%;
  background-color: orange;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

/* 
The avatar should be centered vertically and horizontally (Hint: the justify-content and align-items properties are helpful for centering things if you're using Flexbox.)
 
*/