body > header {
  display: flex;
  height: 400px;
  width: 100%;
  background-color: #FFA500;
  background-image: url("https://www.transparenttextures.com/patterns/paper-fibers.png");
  color: white;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  margin-top: 120px;
}

/* Desktop styles */
@media only screen and (min-width: 1024px) {
  body > header {
    display: flex;
    max-width: 30%;
    margin-top: 200px;
    margin-bottom: 25px;
    margin-left: 75px;
    margin-right: 25px;
  }
}
