nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  height: 120px;
  top: 0;
  width: 100%;
  background-color: #FFA500;
  background-image: url("https://www.transparenttextures.com/patterns/paper-fibers.png");
  color: #FFFFFF;
  padding: 1.5em;
}

nav span {
  font-family: 'Bungee', sans-serif;
}

nav button {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  background-color: #FFA500;
  border: #FFA500;
  color: #FFFFFF;
  background-image: url("https://www.transparenttextures.com/patterns/paper-fibers.png");
  padding: 5px 10px;
}

/* Desktop styles */
@media only screen and (min-width: 1024px) {
  nav {
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    background-color: #4056A1;
    background-image: none;
  }

  nav button {
    background-color: #4056A1;
    border: #4056A1;
    background-image: none;
  }
}
